# Archivos de IntelliJ IDEA
.idea/
*.iml

# Archivos de compilación
/build/
out/

# Archivos de Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# Archivos de logs
*.log

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de pruebas
/test-output/