# Ignorar archivos y carpetas específicas
nivo-slider.css
nivoslider.jquery.json
scripts/

# Ignorar todo lo generado en target/
target/

# Ignorar archivos de logs
*.log

# Ignorar archivos de configuración de IDE
.idea/
*.iml

# Ignorar archivos de sistema
.DS_Store
Thumbs.db